<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
        <h1>
            Your Friend Calendar
        </h1>
    </div>
</main>

<%- include ('../partials/footer') %>