<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="container-fluid bg-light" style="height: 90vh; padding-left:27%; padding-right:27%; padding-top:15%; padding-bottom: 15%;">
    <div class="container rounded-3" style="background-color: #aaabad; font-family: Poppins">
        <h1 style="text-align: center; font-weight: bold;">
            Invite Friend
        </h1>
    </div>
</main>


<%- include ('../partials/footer') %>