<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<% include ('../partials/functions') %>

<main>
  <div class="container">
    <div class="card" style="width: 18rem;display:none;" id="weather-popup">
      <div class="card-header" id="popup-header">
        Weather
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Temp: <span id="temp"></span></li>
        <li class="list-group-item">Precipiation: <span id="precip"></span></li>
        <li class="list-group-item">Wind: <span id="wind"></span></li>
      </ul>
    </div>

    <div>
      <div id="location">Denver</div>
      <button onclick="renderPopup()">Get Weather</button>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>