<%- include ('../partials/header') %>


<main>
  <div class="container-fluid justify-content-center align-items-center">
    <div class="container bg-light rounded-3" >
      <h1 class="text-center">Welcome back!</h1>
      <form action="\login" method="POST" class="col">

        <div class="row-md">
          <label for="username" class="row-md py-2">Username</label>
        </div>
        <div class="row-md">
          <input class="border-0 row-md bg-secondary rounded-3" style="width: 70%" type="text" id="username" name="username" />
        </div>
          
        <div class="row-md">
          <label for="password" class="col-md py-2">Password</label>
        </div>
        <div class="row-md">
          <input class="border-0 col-md bg-secondary rounded-3" style="width: 70%" type="password" id="password" name="password" />
        </div>

        <div>
          <input type="submit" class="btn btn-primary mt-4" value="Login" />
          <p>Need an account? <a href="/register">Register</a></p>
        </div>
  
      </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>