<%- include ('../partials/header') %>


<main>
  <div class="container-fluid bg-light" >
    <h1>Welcome back to Skuuber! Log in here.</h1>
    
    <form action="\login" method="POST" class="row">
        <label for="username" class="col-md">Username:</label>
        <input type="text" id="username" name="username" />

        <label for="password" class="col-md">Password:</label>
        <input type="password" id="password" name="password" />

        <input type="submit" class="col-md" value="Login" />
         
        <div></div>

        <p>Don't have an account? <a href="/register">Register here</a></p>

    </form>
  </div>
</main>

<%- include ('../partials/footer') %>