<%- include ('../partials/header') %>


<main>
  <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh; padding-left:27%; padding-right:27%;">
    <div class="container rounded-3" style="background-color: #aaabad; font-family: Poppins;">
      <h1 class="text-center" style="font-family: Poppins; font-weight: bold;">Welcome back!</h1>
      <form action="\login" method="POST" class="col">

        <div class="row-md">
          <% if(locals.loginFailed == false){ %>
            <label for="username" class="row-md pt-2 pb-1" style="font-family: Poppins;">Username</label>
          <% } %>
          <% if(locals.loginFailed == true) { %>
            <label for="username" class="row-md pt-2 pb-1 text-danger" style="font-family: Poppins;">Login Failed - Incorrect Username or Password</label>
          <% } %>  
        </div>
        <div class="row-md">
          <input class="border-0 row-md bg-secondary rounded-1" style="width: 80%" type="text" id="username" name="username" />
        </div>
          
        <div class="row-md">
          <% if(locals.loginFailed == false){ %>
            <label for="password" class="col-md pt-2 pb-1" style="font-family: Poppins;">Password</label>
          <% } %>
          <% if(locals.loginFailed == true) { %>
            <label for="username" class="row-md pt-2 pb-1 text-danger" style="font-family: Poppins;">Login Failed - Incorrect Username or Password</label>
          <% } %>
        </div>
        <div class="row-md">
          <input class="border-0 col-md bg-secondary rounded-1" style="width: 80%" type="password" id="password" name="password" />
        </div>

        <div>
          <input type="submit" style="font-family: Poppins; width: 25%" class="btn btn-primary mt-3 mb-1" value="Login" />
          <p style="font-size: 12px;">Need an account? <a href="/register">Register</a></p>
        </div>
  
      </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>