<%- include ('../partials/header') %>

<main>
  <style>
    .register-labels {
      font-family: 'IBM Plex Mono', monospace;
      width: 80%;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .outer-container {
      background-color: rgb(25, 165, 204);
      box-shadow: 0 0 20px rgba(25, 165, 204, 5);
      border-radius: 10px;
      flex: 1;
      padding-left: 5%;
      font-family: 'IBM Plex Mono', monospace;
      opacity: .75;
    }
    .outer-container:hover {
      opacity: 1;
    }
    .text-input-register {
      background-color: #146C94;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
      padding: 3px 0px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 0px solid #DDDDDD;
      width: 80%; 
      border-radius: 6px;
    }
    .text-input-register:focus {
      box-shadow: 0 0 10px rgba(81, 203, 238, 5);
      padding: 3px 0px 3px 3px;
      margin: 5px 1px 3px 0px;
      border: 1px solid rgba(81, 203, 238, 5);
    }
    .submit-button {
      font-family: 'IBM Plex Mono', monospace;
      background-color: black;
      color: #F6F1F1;
      margin-top: 15px;
      margin-bottom: 10px;
      border-radius: 10px;
      height: 40px;
      width: 100px;
      border: none;
      box-shadow: 0 0 7px rgba(0, 0, 0, 5);
    }
    body {
        /* background-image: url("https://wallpaperaccess.com/full/487823.jpg"); */
        
        /* background-image: url("https://cdn.wallpapersafari.com/27/14/Yvk6je.jpg"); */
        /* https://hagadone.media.clients.ellingtoncms.com/img/photos/2021/12/29/Schweitzer-escape-bridgeview-12292021_t1170.jpg?5cc718665ab672dba93d511ab4c682bb370e5f86 */
        background-image: url("https://www.signatureluxurytravel.com.au/wp-content/uploads/2020/10/Ski-tour-climbing-Piz-Buin-Mountain.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

  </style>
  <div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh; padding-left:27%; padding-right:27%;">
    <div class="outer-container">
      <h1 class="text-center">Register Here!</h1>
      <form action="\register" method="POST" class="col">

        <div class="row-md"> 
          <% if(locals.usernameExists == true){ %>
            <label for="username" class="register-labels" style="color: orange;"> Error: Username already exists </label>
          <% } else { %> 
            <label for="username" class="register-labels" style="color: black;">Username</label>
          <% } %>
        </div>
  
        <div class="row-md">
          <input class="text-input-register" type="text" id="username" name="username" />
        </div>
          
        <div class="row-md">
            <% if(locals.passwordNoMatch == true) { %>
              <label for="password" class="register-labels" style="color: orange;">Error: Passwords do not match</label>
            <% } else { %>
              <label for="password" class="register-labels" style="color: black;">Password</label>
            <% } %>  
        </div>
        <div class="row-md">
          <input class="text-input-register" type="password" id="password" name="password" />
        </div>

        <div class="row-md">
          <% if(locals.passwordNoMatch == true) { %>
            <label for="confirmPassword" class="register-labels" style="color: orange;">Error: Passwords do not match</label>
          <% } else { %>
            <label for="confirmPassword" class="register-labels" style="color: black;">Confirm Password</label>
          <% } %> 
        </div>
        <div class="row-md">
          <input class="text-input-register" type="password" id="confirmPassword" name="confirmPassword" />
        </div>


        <div>
          <input type="submit" class="submit-button" value="Register" />
          <p style="font-size: 12px;">Already have an account? <a href="/login" style="color:orange;">Login</a></p>
        </div>
  
      </form>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>