<header>
    <style>
        .scuuber-menu {
    color: black; font-size: 19px;font-family: 'IBM Plex Mono', monospace;text-decoration: underline;
}

.scuuber-title {
    color: black; font-size: 30px;font-family: 'IBM Plex Mono', monospace;
}

.scuuber-text {
    color: black; font-size: 15px;font-family: 'IBM Plex Mono', monospace;text-decoration: underline;
}

    </style>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <a href="/home">
                <img src="scuuber_large.png" height="50px" width="158px" />

            </a>

            <li class="nav-item  me-1">
                <a class="nav-link scuuber-menu" href="/home"  >home</a>
            </li>
            <li class="nav-item  me-1">
                <a class="nav-link scuuber-menu" href="/calendar" >my calendar</a>
            </li>
            <li class="nav-item  me-1">
                <a class="nav-link scuuber-menu" href="/friend_calendar"  >my friends' calendars</a>
            </li>
          </ul>
          <div class="nav-item me-1">
                <a class="nav-link scuuber-menu" href="/logout">logout</a>
          </div>
        </div>
      </div>
    </nav>
   </header>