<<<<<<< HEAD
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- TO-DO: For 'Home', Add a <a> tag with an attribute href to call the '/' API that navigates to home page if logged in, or login page if not -->
          <a class="nav-link" href="/" >HOME</a>
      </li>
      <li class="nav-item">
        <!-- TO-DO: For 'Log out', add a <a> tag with an attribute href to call the '/logout' API that navigates to the logout page -->
          <a class="nav-link" href="/logout" >LOG OUT</a>
      </li>
    </ul>
  </nav>
</header>
=======
<header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/discover" >Discover</a>
            </li>
          </ul>
          <div class="nav-item me-1">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
                <a class="nav-link" href="/logout" >Logout</a>
          </div>
        </div>
      </div>
    </nav>
   </header>
>>>>>>> 6dd80b73d9d1419f981ad90206a77a31f421b3ec
