<header>
  <style>
      .scuuber-menu {
        color: black; font-size: 19px;font-family: 'IBM Plex Mono', monospace;text-decoration: underline;
      }
      .scuuber-title {
        color: black; font-size: 30px;font-family: 'IBM Plex Mono', monospace;
      }
      .scuuber-text {
        color: black; font-size: 15px;font-family: 'IBM Plex Mono', monospace;text-decoration: underline;
      }
      .dropdown-style {
        color: black;
        font-family: 'IBM Plex Mono', monospace;
        background-color: rgb(25, 165, 204);
        border: 0px; 
        border-radius: 10px;
        padding-bottom: 10px;
        margin-bottom: 100px;
      }
      .dropdown-item:focus, .dropdown-item:hover {
        background-color: rgb(78, 178, 206);
      }
      .nav-styling {
        padding-left: 5%;
        font-family: 'IBM Plex Mono', monospace;
        background-color: rgb(91, 161, 235);
      }
      .img-shift {
        border-radius: 20px;
      }
      .dropdown-toggle {
        border-radius: 10px;
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
      }
      .dropdown-toggle:hover {
        background-color: #146C94;
      }

      .navbar {
        opacity: 0.75;
      }

      .navbar:hover {
        opacity: 1;
      }
      
  </style>
  <nav class="navbar fixed-bottom navbar-expand-lg navbar-light nav-styling">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropup">
          <a
            class="nav-link dropdown-toggle"
            //href="#"
            id="navbarDropdownMenuLink"
            role="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
          >
            <img src="skiing.png" 
            class="img-thumbnail img-responsive img-shift"
            height="40px"
            width="40px"
            alt="Scuuber" />
            <%= username %>
          </a>
          <ul class="dropdown-menu dropdown-style" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/home">Home</a>
            </li>
            <li>
              <a class="dropdown-item" href="/calendar">My Calendar</a>
            </li>
            <li>
              <a class="dropdown-item" href="/friend_calendar">Friend's Calendar</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout" style="color: orange">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
 </header>